.radio-size input[type=radio] {
    display: none
}

.radio-size label {
    display: inline-block;
    background-color: #fff;
    font-size: 16px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 25px !important;
    text-align: center !important;
    border: solid 2px #2B292C
}

    .radio-size label:hover {
        cursor: pointer
    }

.radio-size input[type=radio]:checked + label {
    background-color: #2B292C;
    color: #fff
}

.radio-ice input[type=radio], .radio-sugar input[type=radio] {
    display: none
}

.radio-sugar {
    text-align: right
}

    .radio-ice label:hover, .radio-sugar label:hover {
        cursor: pointer
    }

    .radio-ice .block, .radio-sugar .block {
        display: inline-block;
        width: 18%
    }

        .radio-ice .block span {
            display: block;
            text-align: left;
            padding-left: 4px
        }

        .radio-sugar .block span {
            display: block;
            text-align: right;
            padding-right: 5px
        }

.sugar > label {
    padding-left: 16px
}

.ice-sugar .ice, .ice-sugar .sugar {
    float: left;
    width: 50%;
    display: block
}

.radio-ice .ice10 + label {
    background: url(images/ice-10.gif) 0 0 no-repeat;
    width: 22px;
    height: 35px
}

.radio-ice .ice10:checked + label {
    background: url(images/ice-10.gif) 0 -35px no-repeat;
    width: 22px;
    height: 35px
}

.radio-ice .ice30 + label {
    background: url(images/ice-30.gif) 0 0 no-repeat;
    width: 22px;
    height: 35px
}

.radio-ice .ice30:checked + label {
    background: url(images/ice-30.gif) 0 -35px no-repeat;
    width: 22px;
    height: 35px
}

.radio-ice .ice50 + label {
    background: url(images/ice-50.gif) 0 0 no-repeat;
    width: 22px;
    height: 35px
}

.radio-ice .ice50:checked + label {
    background: url(images/ice-50.gif) 0 -35px no-repeat;
    width: 22px;
    height: 35px
}

.radio-ice .ice70 + label {
    background: url(images/ice-70.gif) 0 0 no-repeat;
    width: 22px;
    height: 35px
}

.radio-ice .ice70:checked + label {
    background: url(images/ice-70.gif) 0 -35px no-repeat;
    width: 22px;
    height: 35px
}

.radio-ice .ice100 + label {
    background: url(images/ice-100.gif) 0 0 no-repeat;
    width: 22px;
    height: 35px
}

.radio-ice .ice100:checked + label {
    background: url(images/ice-100.gif) 0 -35px no-repeat;
    width: 22px;
    height: 35px
}

.radio-sugar .sugar10 + label {
    background: url(images/sg-10.gif) 0 0 no-repeat;
    width: 22px;
    height: 35px
}

.radio-sugar .sugar10:checked + label {
    background: url(images/sg-10.gif) 0 -35px no-repeat;
    width: 22px;
    height: 35px
}

.radio-sugar .sugar30 + label {
    background: url(images/sg-30.gif) 0 0 no-repeat;
    width: 22px;
    height: 35px
}

.radio-sugar .sugar30:checked + label {
    background: url(images/sg-30.gif) 0 -35px no-repeat;
    width: 22px;
    height: 35px
}

.radio-sugar .sugar50 + label {
    background: url(images/sg-50.gif) 0 0 no-repeat;
    width: 22px;
    height: 35px
}

.radio-sugar .sugar50:checked + label {
    background: url(images/sg-50.gif) 0 -35px no-repeat;
    width: 22px;
    height: 35px
}

.radio-sugar .sugar70 + label {
    background: url(images/sg-70.gif) 0 0 no-repeat;
    width: 22px;
    height: 35px
}

.radio-sugar .sugar70:checked + label {
    background: url(images/sg-70.gif) 0 -35px no-repeat;
    width: 22px;
    height: 35px
}

.radio-sugar .sugar100 + label {
    background: url(images/sg-100.gif) 0 0 no-repeat;
    width: 22px;
    height: 35px
}

.radio-sugar .sugar100:checked + label {
    background: url(images/sg-100.gif) 0 -35px no-repeat;
    width: 22px;
    height: 35px
}

.monthem .dropdown, .size .radio-size, .soluong .form-group {
    float: right
}

.soluong .form-group {
    width: 100px;
    margin-bottom: 0
}

.soluong .input-group-addon {
    background-color: #2B292C;
    color: #fff;
    border: none;
    width: 30px;
    height: 30px;
    padding: 0
}

    .soluong .input-group-addon .fa {
        display: block;
        padding: 0;
        line-height: 30px
    }

    .soluong .input-group-addon:hover {
        cursor: pointer
    }

.soluong .form-control {
    background-color: #fff;
    border: none
}

.monthem label, .size label, .soluong label {
    line-height: 30px;
    margin-bottom: 0
}

.plus-color {
    color: #98b021
}

.icon-plus, .icon-plus:after, .sp-bar {
    display: none
}

